DB_NAME=hr_db
DB_USER=hr_user
DB_PASSWORD=promeni-lozinku
DB_ROOT_PASSWORD=promeni-root-lozinku
DJANGO_SECRET_KEY=promeni-ovo-u-dugacak-nasumican-string
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend